body {
    background-color: black;
}
.dev {
background-color: white;
text-align: center;
width: 30%;
border-radius: 10px;
}
.jay {
  border-radius: 80%;
      width: 100px;
      height: 100px;
      margin-top: 30px;
}
.mail {
  margin-top: -20px;
}
.hire {
    background-color: blueviolet;
    color: white;
    border: none;
    margin-bottom: 30px;
    width: 90px;
    height: 30px;
    border-radius: 15px;
}

